In [1]:
# ============================================
# FUSIÓN DE CSV Y ELIMINACIÓN DE DUPLICADOS
# ============================================

import pandas as pd
import glob
import os

print("Librerías cargadas correctamente.")

Librerías cargadas correctamente.

In [2]:
# ============================================
# CONFIGURACIÓN DE DIRECTORIO
# ============================================

# Ruta donde están los CSV (puedes cambiarla)
carpeta_csv = "datasets/"

# Buscar todos los archivos CSV en la carpeta
archivos = glob.glob(os.path.join(carpeta_csv, "*.csv"))

print(f"Se encontraron {len(archivos)} archivos CSV:")
for a in archivos:
    print("-", os.path.basename(a))

Se encontraron 10 archivos CSV:
- pacientes_1000_1.csv
- pacientes_1000_10.csv
- pacientes_1000_2.csv
- pacientes_1000_3.csv
- pacientes_1000_4.csv
- pacientes_1000_5.csv
- pacientes_1000_6.csv
- pacientes_1000_7.csv
- pacientes_1000_8.csv
- pacientes_1000_9.csv

In [3]:
# ============================================
# UNIR TODOS LOS CSV EN UN SOLO DATAFRAME
# ============================================

# Leer y concatenar todos los archivos
df_list = [pd.read_csv(a) for a in archivos]
df_final = pd.concat(df_list, ignore_index=True)

print(f"Total de registros combinados: {len(df_final)}")
print(f"Total de columnas: {len(df_final.columns)}")
display(df_final.head())

Total de registros combinados: 10000
Total de columnas: 16

,id_paciente,nombre,rut,edad,sexo,fecha_registro,id_medico,FamiliarPrimerGradoCC,FamiliarSegundoGradoCC,DiagnosticoPrevioCancer,Ejercicio,Alcohol,Mamografia,Menstruacion,PrimerHijo,Riesgo
0,1,Michelle,817097948,91.0,F,9/10/2025,1,False,True,True,<3 horas,Nunca,True,Primer hijo <30,Primer hijo >=30,Bajo
1,2,Carmelle,464769004,8.0,F,9/10/2025,1,False,False,False,Ninguna,Ocasional,False,Primer hijo <30,Primer hijo <30,Bajo
2,3,Consuelo,637151220,43.0,F,9/10/2025,1,True,False,False,Ninguna,Ocasional,False,Primer hijo <30,Primer hijo <30,Bajo
3,4,Marjory,790245753,99.0,F,9/10/2025,1,True,True,True,<3 horas,Ocasional,True,Primer hijo <30,No hijos,Bajo
4,5,Joycelin,620959095,43.0,F,9/10/2025,1,False,False,True,>4 horas,Diario,False,No hijos,Primer hijo <30,Bajo

In [4]:
# ============================================
# ELIMINAR DATOS DUPLICADOS
# ============================================

# Si tienes una columna única (por ejemplo 'rut'), usa esta línea:
if 'rut' in df_final.columns:
    df_final = df_final.drop_duplicates(subset=['rut'], keep='first')
else:
    # Si no hay una columna identificadora, elimina duplicados por fila completa
    df_final = df_final.drop_duplicates(keep='first')

print(f"Total de registros después de eliminar duplicados: {len(df_final)}")

Total de registros después de eliminar duplicados: 10000

In [5]:
# ============================================
# GUARDAR CSV FINAL
# ============================================

output_path = "pacientes_10000_final.csv"
df_final.to_csv(output_path, index=False)

print(f"Archivo final guardado como '{output_path}'")
print(f"Tamaño final: {len(df_final)} registros únicos.")

Archivo final guardado como 'pacientes_10000_final.csv'
Tamaño final: 10000 registros únicos.

In [6]:
# ============================================
# VERIFICAR SI AÚN QUEDAN DUPLICADOS
# ============================================

if 'rut' in df_final.columns:
    duplicados = df_final[df_final.duplicated(subset=['rut'], keep=False)]
else:
    duplicados = df_final[df_final.duplicated(keep=False)]

if len(duplicados) > 0:
    print(f"Aún hay {len(duplicados)} duplicados.")
    display(duplicados)
else:
    print("No se encontraron duplicados en el CSV final.")

No se encontraron duplicados en el CSV final.